.square {
  width: 25px;;
  height: 25px;
  border: 1px grey solid;
  margin: 0 auto;
  background-color: #CCC;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
}
.revealedSquare {
  width: 25px;;
  height: 25px;
  border: 1px grey solid;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
}
.flag {
  width: 25px;
  height: 25px;
}
